<div class="row">
    <div class="col col-12">
      <h1 class="text-center">KOLLER</h1>  
      <p class="text-center">Estamos listos para darte la variedad de productos en Ferreteria</p>
      {{req.user.nombre}}
    </div>
    
    <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <a href=""><h4 class="text-center">Herramientas</h4></a>
            </div>
            <div class="card-body">
                <img src="/img/herramientas.jpg" class="img-thumbnail" alt="...">
            </div>
        </div>
    </div>
    <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">Construccion</h4>
            </div>
            <div class="card-body">
                <img src="/img/contruccion.jpeg" class="img-thumbnail" alt="...">
            </div>
        </div>
    </div>
    <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">Electricidad</h4>
            </div>
            <div class="card-body">
                <img src="img/electricidad.jpeg" class="img-thumbnail" alt="...">
            </div>
        </div>
    </div>
    <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">Gasfiteria</h4>
            </div>
            <div class="card-body">
                <img src="img/gasfiteria.jpg" class="img-thumbnail" alt="...">
            </div>
        </div>
    </div>
    <br>
    
</div>